/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #111827;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: #22c55e;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #22c55e;
}

/* HERO */
.hero {
    background-color: #22c55e;
    color: white;
    padding: 80px 50px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background-color: white;
    color: #22c55e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid white;
}

.btn:hover {
    background-color: transparent;
    color: white;
}

/* ABOUT */
.about {
    padding: 60px 50px;
    background-color: white;
}

.about h2 {
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.about-container img {
    width: 250px;
    border-radius: 15px;
    border: 3px solid #22c55e;
}

.about-text p {
    margin-bottom: 15px;
}

/* CONTACT */
.contact {
    padding: 60px 50px;
    background-color: #e5e7eb;
}

.contact h2 {
    margin-bottom: 20px;
}

form {
    max-width: 400px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #22c55e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #16a34a;
}

/* FOOTER */
footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 20px;
}